body {
  background-color: #bcbcb7;
  text-align: center;
  font-family: "Avenir Next", Verdana;
}

#welcome {
  font-size: 1.5em;
  padding: 25px;
 
}

canvas {
  border: 10px solid #05a99b;
}
h1 {
  
  font-weight: bold;
  font-size: 3em;
  margin-top: 0;
  /* letter-spacing: -10px; */
}

h1 strong {
  display: inline-block;
  margin: 0 0.25em;
}
