body {
  background-color: #bcbcb7;
  text-align: center;
  font-family: "Avenir Next", Verdana;
}

#welcome {
  font-size: 1.5em;
  padding: 10px;
}

canvas {
  border: 10px solid #05a99b;
}
h1 {
  font-weight: bold;
  font-size: em;
  margin-top: 0;
}

h1 strong {
  display: inline-block;
  margin: 0 0.25em;
}
